body
{
	width: 130px;
	height: 130px;
	margin: 0px;
	padding: 0px;	
}

.gadgetGUI_docked
{

}

.gadgetGUI_undocked
{

}

a, a:hover, a:visited
{
	color: White; 
	font-size: 18pt;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;	
}

/*
	Man hinh Welcome
*/
.content_Welcome
{
	font: normal 8px Arial,Helvetica,sans-serif;
	color: #542C0F;
	font-weight: bold;
}

/*
	Man hinh Overview
*/
.content_overview
{
	font: normal 8px Arial,Helvetica,sans-serif;
	color: #542C0F;
	font-weight: bold;
}

.gadgetGUI_docked
{
	width : 130;
	height : 100;
	background-image : url(images/Overview.png);
}
.gadgetGUI_docked .overviewItem1
{
	position : absolute;
    left : 10;
    top : 10;
	width : 25;
	height : 30;
}
.gadgetGUI_docked .overviewItem2
{
	position : absolute;
    left : 50;
    top : 10;
	width : 25;
	height : 30;
}
.gadgetGUI_docked .overviewItem3
{
	position : absolute;
    left : 90;
    top : 10;
	width : 25;
	height : 30;
}
.gadgetGUI_docked .overviewItem4
{
	position : absolute;
    left : 10;
    top : 50;
	width : 25;
	height : 30;
}
.gadgetGUI_docked .overviewItem5
{
	position : absolute;
    left : 50;
    top : 50;
	width : 25;
	height : 30;
}
.gadgetGUI_docked .overviewItem6
{
	position : absolute;
    left : 90;
    top : 50;
	width : 25;
	height : 30;
}
.gadgetGUI_undocked
{
	width : 400;
	height : 300;
	background-image : url(images/Overview_undocked.png);
}
.gadgetGUI_undocked .overviewItem1
{
	position : absolute;
    left : 10;
    top : 10;
	width : 75;
	height : 90;
}
.gadgetGUI_undocked .overviewItem2
{
	position : absolute;
    left : 100;
    top : 10;
	width : 75;
	height : 90;
}
.gadgetGUI_undocked .overviewItem3
{
	position : absolute;
    left : 190;
    top : 10;
	width : 75;
	height : 90;
}
.gadgetGUI_undocked .overviewItem4
{
	position : absolute;
    left : 10;
    top : 150;
	width : 75;
	height : 90;
}
.gadgetGUI_undocked .overviewItem5
{
	position : absolute;
    left : 100;
    top : 150;
	width : 75;
	height : 90;
}
.gadgetGUI_undocked .overviewItem6
{
	position : absolute;
    left : 190;
    top : 150;
	width : 75;
	height : 90;
}


