.gadgetGUI_docked #anchor
{
	position : absolute;
    left : 10;
    top : 85;
}
.gadgetGUI_docked #arrow_left
{
	float : left;
    height : 15;
}
.gadgetGUI_docked #arrow_right
{
	float : left;
    height : 15;
}
.gadgetGUI_docked #stateBlock
{
	float : left;
	width : 75;
    height : 15;
	text-align : center;
	background-image : url(images/state.png);
    
}
.gadgetGUI_docked #state
{
	font-size : x-small;
}

.gadgetGUI_undocked #anchor
{
	position : absolute;
    left : 75;
    top : 267;
}
.gadgetGUI_undocked #arrow_left
{
	float : left;
    height : 20;
}
.gadgetGUI_undocked #arrow_right
{
	float : left;
    height : 20;
}

.gadgetGUI_undocked #stateBlock
{
	float : left;
	width : 200;
    height : 20;
	text-align : center;
    background-image : url(images/state_undocked.png);
}

.gadgetGUI_undocked #state
{
	font-size : normal;
}

