body
{
	/*padding: 0px; 
	margin: 0px;*/
	height: 700px;
}

/*
	Flyout Overview
*/
body,td {
	font: normal 10px Verdana,Arial,Helvetica,sans-serif;
	color: #542C0F;
	padding : 0 0;	
	margin: 0 0;
}

table {
	background-color:#F7E7C5;
}

td,tr,table,img, h1, h2, h3, h4, h5, h6 {
	padding : 0 0;	
	margin:0 0;
	border-style:none;
	border-width:0;
	border-spacing: 0px 0px;
	vertical-align:middle;
}

/* EmpireOverview */
.empireOverview {
	background-color : #FFEECA
}
.empireOverview td {
	text-align : center; 
	padding : 0 0em;		
	width : auto;
	border : 1px solid #7E4A21;
	
}
.empireOverview img {
	height:20px;
	margin:5px;
}

/* TownOverview */
.townOverview {
		background-color : #FFEECA
	}
.townOverview td {
	text-align : center; 	
	width : 8em;
	border : 1px solid #7E4A21;		
}
.townOverview img {
	height:17px;
	width:20px;
	margin:2px;
}

/* TroopOverview */
.troopOverview {
		background-color : #FFEECA
	}
.troopOverview td {
	text-align : center; 	
	width : 8em;
	border : 1px solid #7E4A21;		
}
.troopOverview img {
	height: 30px;
	width: 35px;
	margin: 2px;
}

/* ResearchOverview */
.researchOverview {
	background-color : #FFEECA
}
.researchOverview td {
	text-align : left; 	
	border : 1px solid #7E4A21;
	padding : 5px;
}
.researchOverview img {
	border : none;
	width : auto;
	height : auto;
	padding : 0px;
	margin : 0px;
}
.researchOverview .countdown {
	text-align : center;
}
.researchOverview .countdown {
	text-align : center;
}
.researchOverview .need {
	text-align : center;
}

/* EventOverview */
.eventOverview {
	background-color : #FFEECA
}
.eventOverview td {
	text-align : left; 	
	border : 1px solid #7E4A21;
	padding : 0 5px;
}
.eventOverview img {
	border : none;
	margin : 0px;
}

/* DiplomacyOverview */
.diplomacyOverview {
	width: 100%;
	background-color : #FFEECA
}

.diplomacyOverview .messageHolder
{
	width : 785px;
	border: #cacaca 1px solid;
}
.diplomacyOverview .message
{
	text-align : left; 	
	border : 1px solid #FDF7DD;
}
.diplomacyOverview .messageHeader
{		
	background-image:url(images/eventOverview/button.gif);
	font: normal 14px Verdana,Arial,Helvetica,sans-serif;
	padding : 5px 10px;
}
.diplomacyOverview .messageBody
{
	display: none;		
	margin: 0px 10px 0px 10px;
	padding: 5px;
}